<head>
  <link href="{{ site.url }}/styles/styles.css" rel="stylesheet"/>
  <link rel="icon" href="{{ site.url }}/assets/favicon.png" sizes="16x16" type="image/png"/>
  <link href="{{ site.url }}/feed.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="#ba9cff" data-react-helmet="true" name="theme-color"/>
  <meta name="google-site-verification" content="Lp8ldkXyem8rqHH9hB5ZlDGplTzH5yJHN_pCF3Ri9LU"/>
  <meta property="twitter:description" content="{{ page.description }}"/>
  <link rel="canonical" href="{{ site.url }}{{page.url}}" />

  {% if page.layout == "post" %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:author" content="Hari Rana"/>
  {% endif %}

  {% if page.embed_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.embed_image }}"/>
    <meta property="twitter:image" content="{{ site.url }}{{ page.embed_image }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
  {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/logo-256x256.webp"/>
    <meta property="twitter:image" content="{{ site.url }}/assets/logo-256x256.webp"/>
  {% endif %}
  {% seo %}
</head>
