{% comment %}
Credit to https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed
{% endcomment %}

<figure aria-label="&nbsp;">
  <div class="youtube-embed">
    <iframe
      class="youtube-video"
      src="https://www.youtube.com/embed/{{ include.id }}"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <figcaption>{{ include.caption | markdownify }}</figcaption>
</figure>

