/* Dark Mode (Default) */

:root {
  --main-color: white;
  --main-bg-color: #151515;
  --code-color: #353535;
  --codeblock-text-color: lightgray;
  --blockquote-text-color: #555555;
  --blockquote-bg-color: #191919;
  --blockquote-border-left-color: #696969;
  --header-bg-color: #212121;
  --header-select-color: #ba9cff;
  --header-active-text-color: var(--header-select-color);
  --text-select-color: black;
  --text-select-bg-color: #ba9cff;
  --hyperlink-color: #ba9cff;
  --hyperlink-hover-color: #bf69ff;
  --scrollbar-color: var(--header-select-color);
  --scrollbar-bg-color: var(--code-color);
  --shadow-color: black;
  --footer-text-color: gray;
  --command-color: lightgray;
  --trigger-color: #910000;
  --disclaimer-color: #915500;
  --target-bg-color: #424242;

  /* Global */
  --global-fade-animation: 0.25s;
  --cursor-fade-animation: 1s;
  --margin-size: 11.25px;
}

/* Sepia (light) Mode */

@media (prefers-color-scheme: light) {
  :root {
    --main-color: black;
    --main-bg-color: #ffe7cf;
    --code-color: #e5cdb9;
    --codeblock-text-color: #3f365b;
    --blockquote-text-color: var(--code-color);
    --blockquote-bg-color: #e5c8ae;
    --blockquote-border-left-color: #97794b;
    --header-bg-color: #f2d8bc;
    --header-select-color: black;
    --header-active-text-color: black;
    --header-text-color: black;
    --text-select-color: var(--main-bg-color);
    --text-select-bg-color: black;
    --hyperlink-color: darkblue;
    --hyperlink-hover-color: blue;
    --scrollbar-color: var(--header-select-color);
    --scrollbar-bg-color: var(--code-color);
    --shadow-color: gray;
    --footer-text-color: black;
    --command-color: black;
    --trigger-color: #ff7d7d;
    --disclaimer-color: #ffa56a;
    --target-bg-color: var(--header-bg-color);
  }
}

/* Reduced motion */

@media (prefers-reduced-motion) {
  :root {
    --global-fade-animation: 0;
    --cursor-fade-animation: 0;
  }
}

/* General Looks */

html {
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
}

body {
  /* FIXME: Hack to force
     the footer at the bottom
  */
  min-height: 98.125vh;

  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  font-family: sans-serif;
  overflow-wrap: break-word;
  line-height: 1.5;
  letter-spacing: 0.25px;
  font-size: 1em;
}

.big {
  font-size: 125%;
}

hr {
  border-radius: 10px;
  border: 1px solid var(--code-color);
}

/* Heading */

h1 {
  text-align: center;
  text-wrap: balance;
}

/* Codeblock */

code {
  font-family: monospace;
  font-size: larger;
}

.language-terminal, .highlighter-rouge {
  position: relative;
  padding: 0 0.5em 0;
  max-height: 750px;
  border-radius: 5px;
  background-color: var(--code-color);
  overflow: scroll;
}

.command {
  color: var(--command-color);
}

/* Images and videos */

img, video {
  border-radius: 7.5px;
  max-width: 100%;
}

figure {
  text-align: center;
  margin: auto;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 192px;
  box-shadow: 0 0 50px var(--shadow-color);
  border-radius: 100%;
}

figure figcaption {
  padding: 3px;

  p {
    font: normal smaller sans-serif;
    text-wrap: balance;
  }
}

/* Lists */

li, ul {
  position: relative;
  left: -11px;
}

/* Block quote */

blockquote {
  padding: 0 1.5em;
  border-left: 8px solid var(--blockquote-border-left-color);
  margin: 0;
  border-radius: 2.5px;
}

/* Blinking cursor */

.cursor {
  animation: cursor var(--cursor-fade-animation) infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Selection */

::selection {
  color: var(--text-select-color);
  background: var(--text-select-bg-color);
}

/* Hyperlink */

a {
  color: var(--hyperlink-color);
  transition: var(--global-fade-animation);

  &:hover {
    color: var(--hyperlink-hover-color);
  }
}

/* Table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1.5px solid var(--main-color);
}

th, td {
  padding: 7.5px;
}

/* Presentation */

.presentation {
  display: grid;
  position: relative;

  img {
    max-height: 500px;
  }

  h2 {
    transform: translateY(-50%);
    text-align: center;
  }

  p {
    transform: translateY(-50%);
    text-align: center;
    text-wrap: balance;
  }
}

/* Statements */

.statement-container {
  display: grid;
  grid-gap: 25px;
  margin-bottom: 25px;
}

.statement {
  border-radius: 10px;
  /* FIXME: Hack for mimicking equal padding */
  padding: 25px 25px 10px 25px;
}

.trigger {
  @extend .statement;
  background-color: var(--trigger-color);
}

.disclaimer {
  @extend .statement;
  background-color: var(--disclaimer-color);
}

/* Embeds */

.youtube-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

li {
  margin-top: var(--margin-size);
  margin-bottom: var(--margin-size);
}

:target {
    background: var(--target-bg-color);
    transition: all .8s;
    border-radius: 5px;
}

/* Desktop */

@media (min-width: 900px) {
  .text-logo {
    display: unset;
  }

  .header-right {
    float: right;
    column-gap: 1em;
    font-size: x-large;
  }

  .header-left {
    display: unset;
    float: left;
    font-size: xx-large;
  }

  nav {
    padding: 1.25rem 0;
  }

  main {
    margin: 0 auto;
    max-width: 800px;
  }

  body {
    font-size: 1.25em;
  }

  .icon {
    width: 256px;
    height: 256px;
  }

  li, ul {
    left: unset;
  }

  .post h3 {
    font-size: x-large;
  }

  footer p {
    font-size: medium;
  }

  .presentation {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    h2, p {
      transform: unset;
      text-align: unset;
    }
  }

  .post-separator {
    width: 75%;
    margin: 0 auto;
  }
}
