<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main id="main">
      {{ content }}
    </main>
    {%- include footer.html -%}
  </body>
</html>
