---
layout: general
---

{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}

  {%- if page.list_title -%}
    <h2>{{ page.list_title }}</h2>
  {%- endif -%}

  {%- for post in posts -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    {% if post.hide != true %}
      {% if i == nil %}
        <div class="post latest-post">
      {% else %}
        <div class="post">
      {% endif %}

      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p>{{ post.date | date: date_format }}</p>
      <p>{{ post.description | markdownify }}</p>
      </div>

      {% if i != nil and forloop.last == false %}
        <hr class="post-separator">
      {% endif %}

      {%- assign i = 1 -%}
    {% endif %}

  {%- endfor -%}
{% endif %}
