---
layout: base
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {% if page.trigger or page.disclaimer %}
    <div class="statement-container">
    {% if page.trigger %}
      <div class="trigger">
        <strong class="big">Content Warning</strong>
        {{ page.trigger | markdownify }}
      </div>
    {% endif %}

    {% if page.disclaimer %}
      <div class="disclaimer">
        <strong class="big">Disclaimer(s)</strong>
        {{ page.disclaimer | markdownify }}
      </div>
    {% endif %}
    </div>

    <strong class="big">Introduction</strong>
  {% endif %}

  {% if page.show_introduction != false %}
    <p>{{ page.description | markdownify }}</p>
  {% endif %}

  {% if page.toc == true %}
    <strong class="big">Table of Contents</strong>
  {% toc %}
  {% endif %}

  {{ content }}

</article>
