// Based on https://philarcher.org/diary/2013/headingnumbers
// and https://stackoverflow.com/a/16270270

article {
  // Title
  h1 {
    font-size: x-large;
  }

  @media (min-width: 900px) {
    h1 {
      font-size: xx-large;
    }
  }

  // Heading
  counter-reset: h2;

  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}

  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

  // Table of Contents
  ol#toc, ol#toc ol {
    counter-reset: item;

    li {
      list-style: none;

      &:before {
        content: counters(item, ".")".";
        counter-increment: item;
        position: absolute;
        margin-right: 100%;
        right: 7.5px;
      }
    }
  }
}