/*
  Based on libadwaita
  References:
  - https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
  - https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/named-colors.html
*/

:root {
  --dim-color: #adadad;
  --orange: #ff7c6d;
  --mint: #5bc8af;
  --light-orange: #ffa348;
  --blue: #62a0ea;
  --green: #5bbb00;
}

@media (prefers-color-scheme: light) {
  :root {
    --dim-color: #504338;
    --orange: #7a2700;
    --mint: #005654;
    --light-orange: var(--orange);
    --blue: #0050ae;
    --green: #2d5d00;
  }
}

.highlight {
  .c, .c1 { color: var(--dim-color) }
  .kn, .si, .se, .nt, .py { color: var(--orange) }
  .s, .nn, .nc, .s2 { color: var(--mint) }
  .k { color: var(--light-orange) }
  .nf, .nb { color: var(--blue) }
  .bp, .gp { color: var(--green) }

  .gp, .w { user-select: none }
}