nav {
  overflow: hidden;
  background-color: var(--header-bg-color);
  padding: 10px 5px;
  border-radius: 10px;
  font-weight: 600;

  a, .main-content {
    border-radius: 5px;
    display: block;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    margin: 0 auto;
    transition: var(--global-fade-animation);
    color: var(--header-active-text-color);

    &:hover {
      background-color: var(--header-select-color);
      color: var(--header-bg-color);
    }
  }

  #active {
    background-color: var(--header-select-color);
    color: var(--header-bg-color);
  }
}

.header-elements {
  max-width: 1250px;
  margin: 0 auto;
}

.main-content {
  position: absolute;
  transform: translateY(-200%);
  margin: 0 auto;
  font-size: xx-large;

  &:focus {
    transform: translateY(0);
    background: var(--blockquote-bg-color);
  }
}

.header-right {
  display: flex;
}

.header-left {
  display: none;
}

.header-left a, .main-content {
  font-weight: 900;
}